.price{
  width: 20rem;
  height: 11.5rem;
  background-color: rgb(95, 161, 199);
  margin-bottom: .5rem;
  border-radius: 0 0 0 8px;
  padding: 2rem;
  color: #fff;
}

.price>h3{
  margin-bottom: 1rem;
}

.price>span{
  font-size: 2rem;
  margin-right: .5rem;
}